<div>
  <form #signUpForm="ngForm" class="form--signup" (ngSubmit)="onSubmit(signUpForm.value)">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="name"  name="name" id="name" required ngModel>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contact number</mat-label>
      <input type="string" matInput placeholder="contact number"  name="contactNumber" id="contactNumber" required ngModel>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form--signup__single-row">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="name" name="email" id="email" required ngModel>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" name="password" id="password" required ngModel>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input type="password" matInput placeholder="Confirm password" name="confirmPassword" id="confirmPassword" required ngModel>
    </mat-form-field>

    <div class="buttons">
      <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.valid"><i class="fas fa-sign-in-alt"></i> Sign Up</button>
      <button type="button" class="btn btn-danger"><i class="far fa-window-close" (click)="onClose()"></i> Close</button>
    </div>
  </form>
</div>
