.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

::ng-deep .mat-dialog-container{
  padding: 0 !important;
}

.body{
  padding: 1rem;
}
