<div class="dashboard-left__container">
  <ul>
    <li class="dashboard-left__item"><a routerLink="/dashboard/summary" routerLinkActive="active">Dashboard</a></li>
    <li class="dashboard-left__item"><a routerLink="/dashboard/categories" routerLinkActive="active">Manage Category</a></li>
    <li class="dashboard-left__item"><a routerLink="/dashboard/products" routerLinkActive="active">Manage Product</a></li>
    <li class="dashboard-left__item"><a>Manage Order</a></li>
    <li class="dashboard-left__item"><a>View Bill</a></li>
    <li class="dashboard-left__item"><a>Manage User</a></li>
  </ul>
</div>
