.dashboard-left__container{
  box-shadow: 1px 1px 5px #ccc;
  padding: 1rem 0;
  min-height: 100vh;
}

.dashboard-left__item{
  margin-bottom: 1rem;
}

.dashboard-left__item:hover{
  font-weight: 700;
}

.active{
  font-weight: 700;
}
