.container{
  width: 100%;
  height: 300px;
  background-color: #436be5;
  color: #fff;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transition: transform 0.6s ease-in-out;
}

.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.container.flip{
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.back{
  transform: rotateY(180deg);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back__title{
  font-size: 2.5rem;
}

.back__body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa {
  font-family: 'FontAwesome';
  font-size: 5rem;
}
